<!DOCTYPE html>
<head>
  <title>Weather API Token</title>
  <meta charset="utf-8">
  <meta name=“viewport” content=“width=device-width, initial-scale=1.0“ />
</head>

<body>
  <h1>Your Weather API token:</h1>
  <div>{{ token }}</div>
  <div>Use it to confirm your subscription</div>
</body>