<!DOCTYPE html>
<head>
  <title>Weather API Token</title>
  <meta charset="utf-8">
  <meta name=“viewport” content=“width=device-width, initial-scale=1.0“ />
</head>

<body>
  <h1>Regular weather update:</h1>
  <div>Temperature: {{ weather.temperature }}</div>
  <div>Humidity: {{ weather.humidity }}</div>
  <div>Descriptiom: {{ weather.description }}</div>
</body>