/* color palette */
:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-gray: #999;
  --color-gray-soft: #d4d7db;
  --color-gray-mute: #959595;

  --color-black: #000000;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-bg-light: #63c4d3;
  --color-bg-dark: #152750;

  --color-divider-light: #cccccc;
  --color-divider-hover-light: #999999;

  --color-divider-dark: #444;
  --color-divider-hover-dark: #666;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-bg-light);

  --color-border: var(--color-divider-light);
  --color-border-hover: var(--color-divider-hover-light);

  --color-heading: var(--color-white);
  --color-text: var(--color-white-soft);
  --color-text-unactive: var(--color-gray-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-bg-dark);

    --color-border: var(--color-divider-dark);
    --color-border-hover: var(--color-divider-hover-dark);

    --color-heading: var(--color-white);
    --color-text: var(--color-white-mute);
    --color-text-unactive: var(--color-gray-mute);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
